body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

#BG {
    background-image: url('../land.png');
    background-repeat: no-repeat;
    min-height: 9400px;
    color: #ff0000;
    background-position: center top;
}

.row {
    max-width: 1350px;
    margin: 0 auto;
}

#headerLeft {
    width: 15%;
    min-width: 150px;
    float: left;
    text-align: left;
}

#headerRight {
    float: right;
    text-align: right;
    margin: 0 5% 10px 0;
}

.logotip {
    display: block;
    float: right;
    margin: 30px 0 0;
}

.logo {
    display: block;
    width: 128px;
    height: auto;
}

.header {
    padding: 0.1px 0 12px;
}

#headerRight>.info {
    float: right;
    margin: 23px 0 0 0px;
    text-align: right;
}

.edin {
    display: inline-block;
    height: 18px;
    text-decoration: none;
    position: relative;
    font-size: 12px;
    color: #0088cc;
    margin: 0 20px;
}

.edin::before {
    content: '';
    display: block;
    width: 5px;
    height: 2px;
    position: absolute;
    transform: rotate(55deg);
    background: #8DBACC;
    top: 5px;
    left: -10px;
}

.edin::after {
    content: '';
    display: block;
    width: 5px;
    height: 2px;
    position: absolute;
    transform: rotate(-55deg);
    background: #8DBACC;
    top: 7px;
    left: -10px;
}

.edin:hover {
    color: #0088cc;
    cursor: pointer;
}

.edin:hover::before,
.edin:hover::after {
    background-color: #0088cc;
}

.tel {
    display: inline-block;
    color: #8DBACC;
    font-size: 12px;
    position: relative;
    margin: 0 10px;
}

.tel::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
    top: -2px;
    background: url('../img/tel.png') no-repeat;
    background-size: 100%;
}

.serch {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #8DBACC;
    background: none;
    padding: 9px;
    font-size: 12px;
    color: #8DBACC;
    width: 170px;
}

.serch:focus {
    outline: none;
    border-color: #0088cc;
}

.form {
    display: inline-block;
    position: relative;
    border-radius: 20px;
    width: 170px;
}

.lupa {
    display: block;
    position: absolute;
    background: url(../img/lupa.png) no-repeat 50% 50%;
    height: 25px;
    width: 25px;
    border: none;
    background-size: 70%;
    border-radius: 50%;
    top: 2px;
    right: 2px;
    transition: 1s;
}

.lupa:hover {
    background-size: 100%;
    cursor: pointer;
}

.knop3 {
    float: right;
    width: 100px;
    margin: 17px 0 0 0;
}

.knopki:hover {
    cursor: pointer;
}

.knopki {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px;
}

.knopka1 {
    background: url("../img/sprite.png") no-repeat 7px 5px;
}

.knopka2 {
    background: url("../img/sprite.png") no-repeat -55px 5px;
}

.knopka3 {
    background: url("../img/sprite.png") no-repeat -105px 5px;
}

.menushka {
    vertical-align: middle;
    margin: 13px 10px 0 0;
    float: right;
    line-height: 14px;
    font-size: 12px;
    color: #0088cc;
    text-align: right;
}

.menushka::after {
    display: block;
    content: "";
    clear: both;
}

.menushka li {
    border-radius: 5px;    
    display: inline-block;
    position: relative;
    margin-right: -1px;
}

.menushka a {
    display: block;
    text-decoration: none;
    height: 25px;
    padding: 15px 23px 0px 14px;
}

.menushka li::after {
    position: absolute;
    content: '';
    display: block;
    border: 3px solid #0088cc;
    right: 10px;
    top: 18px;
    width: 0;
    height: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.menushka a:hover {
    background-color: #0088cc;
    color: white;
}

.menushka li:hover::after {
    border-top-color: white;
}

.menumob {
    display: block;
}

.half {
    display: inline-block;
}

.ekran {
    padding: 243px 0 360px;
    margin-top: 0px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.start {
    font-size: 24px;
    color: #ff0000;
}

.now {
    font-size: 63px;
    font-weight: bold;
    margin-top: 15px;
    
}

.pod_ekr {
    min-height: 110px;
}

.levo_pod_ekr {
    float: left;
    margin: 16px 0 0 7.8%;
    color: white;
    font-size: 19px;
    line-height: 29px;
}

.levo_pod_ekr span {
    font-size: 19px;
}

.levo_pod_ekr::after {
    clear: both;
    display: table;
    content: '';
}

.pravo_pod_ekr {
    font-size: 14px;
    float: right;
    margin: 38px 9% 0 0;
    color: #ffffff;
}

.pravo_pod_ekr button {
    padding: 9px 12px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
    background-color: #0088cc;
}

.pravo_pod_ekr button:hover {
    cursor: pointer;
}

.pravo_pod_ekr span {
    color: #0088cc;
}

.white {
    text-align: center;
    padding: 65px 0 0 0;
    color: #8DBACC;
    min-height: 434px;
    vertical-align: top;
}

.porto {
    font-size: 28px;
}

.porto span {
    font-weight: bold;
}

.trusted {
    margin: 20px 0 0;
    font-size: 21px;
    line-height: 30px;
}

.foure {
    display: inline-block;
    min-width: 200px;
    width: 16%;
    margin: 40px 2.7%;
    padding: 40px 0 0;
    text-decoration: none;
}

.foure:hover {
    cursor: pointer;
}

.foure div {
    display: inline;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 18px;
}

.foure div span:first-of-type {
    font-size: 52px;
    font-weight: bold;
    line-height: 56px;
}

.foure div span:last-of-type {
    color: #0088cc;
    font-size: 14px;
    line-height: 30px;
}

.foure:first-of-type {
    background: url('../img/sprite1.png') no-repeat 22px -71px
}

.foure:nth-of-type(2) {
    background: url('../img/sprite1.png') no-repeat -86px -71px;
}

.foure:nth-of-type(3) {
    background: url('../img/sprite1.png') no-repeat -196px -72px;
}

.foure:last-of-type {
    background: url('../img/sprite1.png') no-repeat -289px -74px;
}

.foure:hover div span:last-of-type {
    color: red;
}

.podwhite {
    padding: 53px 0 63px;
}

.podleft,
.podright {
    display: block;
    font-size: 14px;
    line-height: 24px;

}

.podwhite span {
    font-size: 20px;
    line-height: 36px;
}

.podleft {
    position: relative;
    text-align: right;
    padding-right: 50px;
    float: left;
    margin-left: 9.5%;
}

.podleft::after {
    display: block;
    content: '';
    position: absolute;
    top: 5px;
    height: 30px;
    width: 30px;
    background: url('../img/sprite2.png') -120px 0;
    right: 12px;
}

.podleft::before {
    display: block;
    content: '';
    position: absolute;
    top: 140px;
    height: 30px;
    width: 30px;
    background: url('../img/sprite2.png') 0px 0px;
    right: 8px;
}

.rispodwhite {
    display: block;
    height: 370px;
    width: 360px;
    float: left;
    margin: -120px 1% 0 3.5%;
}

.podright {
    position: relative;
    text-align: left;
    padding-left: 55px;
    float: left
}

.podright::after {
    display: block;
    content: '';
    position: absolute;
    top: 140px;
    height: 30px;
    width: 30px;
    background: url('../img/sprite2.png') -415px 0px;
    left: 10px;
}

.podright::before {
    display: block;
    content: '';
    position: absolute;
    top: 5px;
    height: 30px;
    width: 30px;
    background: url('../img/sprite2.png') -253px 0px;
    left: 10px;
}

.podnis {
    margin-top: 25px;
    line-height: 24px;
}

.podnis::after {
    content: "";
    display: block;
    clear: both;
}

.blue {
    padding-bottom: 67px;
    background-color: #0088cc;
}

.blueleft {
    float: left;
    font-size: 28px;
    margin: 67px 0 0 7.8%;
    color: white;
}

.blueleft b {
    font-weight: bold;
}

.blueleft span {
    font-size: 16px;
}

.blue16 {
    float: right;
    margin: 92px 9.3% 0 0.9%;
    font-size: 16px;
    position: relative;
    color: white;
}

.blue button {
    margin: 78px 0 0;
    display: block;
    float: right;
    font-size: 16px;
    padding: 14px 26px;
    background-color: #006699;
    border: none;
    border-radius: 5px;
    color: white;
}

.blue16::before {
    content: '';
    position: absolute;
    display: block;
    height: 45px;
    width: 100px;
    top: -60px;
    left: -70px;
    background: url("../img/strelka.png") no-repeat 50%;
    background-size: 100%;
}

.put {
    height: 58px;
    background-color: #006699;
    text-align: center;
}

.usl label {
    display: inline-block;
    padding: 22px 28px 23px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    position: relative;
}

.usl label::after {
    display: none;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -14px;
    border: 14px solid #006699;
    border-bottom: none;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    transform: translateX(-18px);
}

.usl label:hover {
    color: red;
    cursor: pointer;
}

.usl input {
    display: none;
}

.saiti {
    padding: 57px 0px 20px;
    text-align: center;
}

.saitiris {
    position: relative;
    display: none;
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0px 31px 0px;
    line-height: 19px;
    font-weight: bold;
    color: #1d2127;
    width: 25%;
    padding: 10px 0 10px 0;
}

.new::before {
    content: "";
    display: block;
    position: absolute;
    background: url('../img/new.png') no-repeat 50% 50%;
    background-size: 100%;
    height: 30px;
    width: 18%;
    top: -2px;
    right: 33px;
}

.saitiris span {
    text-transform: capitalize;
    font-size: 12px;
    line-height: 12px;
    color: #dcdcdc;
}

.saitiris img {
    height: 240px;
    outline: 1px solid black;
    border-radius: 5px;
    width: 84%;
    margin-bottom: 10px;
}

.clear {
    clear: both;
    height: 0;
}

#show:checked ~ .put label[for="show"]::after,
#classic:checked ~ .put label[for="classic"]::after,
#corporate:checked ~ .put label[for="corporate"]::after,
#extra:checked ~ .put label[for="extra"]::after,
#page:checked ~ .put label[for="page"]::after {
    display: block;
}

#show:checked ~ .saiti .saitiris,
#classic:checked ~ .saiti .classic,
#corporate:checked ~ .saiti .corporate,
#extra:checked ~ .saiti .extra,
#page:checked ~ .saiti .page {
    display: block;
}

.posred {
    display: block;
    min-height: 540px;
    padding: 60px 0 0 0.35%;
}

.chernad {
    padding-top: 5px;
    margin: 10px auto 0px;
    font-size: 41px;
    line-height: 24px;
    color: white;
    position: relative;    
    max-width: 815px;
}

.list::after {
    display: block;
    content: '';
    position: absolute;
    background: url(../img/sboku2.png) no-repeat 50%;
    background-size: 100%;
    width: 210px;
    height: 210px;
    top: -120px;
    right: -120px;
    border-radius: 50%;
    border: 5px solid white;
    z-index: -1;
}

.chernad::after {
    display: block;
    content: '';
    height: 60px;
    width: 40px;
    position: absolute;
    background: url("../img/strela1.png") no-repeat 50%;
    background-size: 85%;
    left: -45px;
    top: 40px;
}

.chernad span:first-of-type {
    font-weight: bold;
}

.chernad span:last-of-type {
    font-size: 18px;
    color: #949493;
}

.list {
    position: relative;
    border-radius: 10px 10px 0 0;
    background: red;
    margin: 34px auto 0;
    padding: 35px 0 50px;
    text-align: center;
}

.list::before {
    display: block;
    content: '';
    position: absolute;
    background: url(../img/sboku1.png) no-repeat 50%;
    background-size: 100%;
    width: 235px;
    height: 235px;
    top: 33px;
    left: -125px;
    border-radius: 50%;
    border: 5px solid white;
}

.list p {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
}

.listcol {
    display: inline-block;
    border-radius: 10px;
    padding: 30px 15px 0;
    width: 140px;
    height: 200px;
    margin: 60px 2px 0;
}

.list1 {
    border-top: 2px solid #0088cc;
}

.list2 {
    border-top: 2px solid #dd6353;
}

.list3 {
    border-top: 2px solid #2aaea6;
}

.list4 {
    border-top: 2px solid #383f48;
}

.spriteser {
    height: 70px;
    width: 70px;
    margin: 0 auto;
    border-radius: 50%;
}

.list1 .spriteser {
    background: url('../img/sprite3.png') no-repeat 9px 20px;
}

.list2 .spriteser {
    background: url('../img/sprite3.png') no-repeat -133px 20px;
}

.list3 .spriteser {
    background: url('../img/sprite3.png') no-repeat -300px 17px;
}

.list4 .spriteser {
    background: url('../img/sprite3.png') no-repeat -440px 20px;
}

.listcol p {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    line-height: 16px;
}

.list1 p span:first-of-type,
.list1 p a {
    color: #0088cc;
}

.list2 p span:first-of-type,
.list2 p a {
    color: #dd6353;
}

.list3 p span:first-of-type,
.list3 p a {
    color: #2aaea6;
}

.list4 p span:first-of-type,
.list4 p a {
    color: #383f48;
}

.listcol p span:first-of-type {
    text-transform: uppercase;
    font-size: 9px;
}

.listcol p a {
    font-size: 10px;
    line-height: 34px;
    text-decoration: none;
}

.listcol p a:hover {
    cursor: pointer;
}

.bel {
    text-align: center;
    padding: 45px 0 65px;
    font-size: 27px;
    color: #1d2127;
}

.bel span {
    font-weight: bold;
    color: black;
}

.bel p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 28px;
    color: #aaaaaa;
}

.bel .belnad {
    font-family: Brush Script Std;
    margin-top: 55px;
    font-size: 28px;
    color: #0088cc;
}

.bel .belnad span {
    font-weight: bold;
    color: #0088cc;
}

.belnad {
    position: relative;
}

.belnad::after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    height: 20px;
    width: 240px;
    margin-left: -75px;
    background: url("../img/polosa.png") no-repeat 50%;
    background-size: 100%;
}

.ismen input {
    display: none;
}

.ismen {
    padding-top: 50px;
    overflow: hidden;
    text-align: center;
}

.obch {
    display: inline-block;
}

.ismencol {
    position: relative;
    text-align: left;
    display: block;
    float: left;
    width: 120px;
    padding: 11px 0px 15px 50px;
    margin-right: 26px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 16px;
    color: #828282;
}

.ismencol span {
    font-size: 14px;
    font-weight: bold;
    color: #1d2127;
}

.ismencol4 {
    margin-right: 0;
}

.clear {
    clear: both;
}

.ismencol::before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 1px black;
    position: absolute;
    top: 12px;
    left: 5px;
    background: url(../img/galka.png) no-repeat 50%;
    background-size: 50%;
}

.ismenlist {
    padding: 0;
    position: relative;
    display: block;
    margin: 25px auto -12px;
    width: 730px;
    border: 10px solid #cdcdcd;
}

.ismenlist button {
    background-color: #0088cc;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: none;
    position: absolute;
}

.ismenlist button:hover {
    cursor: pointer;
}

.ismenlist button::before {
    transform: rotate(-45deg);
    position: absolute;
    left: 11px;
    content: "";
    display: block;
    height: 3px;
    width: 10px;
    background-color: white;
}

.ismenlist button::after {
    transform: rotate(45deg);
    position: absolute;
    left: 11px;
    content: "";
    display: block;
    height: 3px;
    width: 10px;
    background-color: white;
}

.ismenbut1 {
    left: -50px;
}

.ismenbut2 {
    right: -50px;
}

.ismenbut1::before {
    top: 12px;
}

.ismenbut1::after {
    top: 17px;
}

.ismenbut2::before {
    top: 17px;
}

.ismenbut2::after {
    top: 12px;
}

#ismenbuth1 {
    top: 18px;
}

#ismenbuth2 {
    top: 18px;
}

#ismenbuta1 {
    top: 367px;
}

#ismenbuta2 {
    top: 367px;
}

#ismenbutf1 {
    top: 788px;
}

#ismenbutf2 {
    top: 788px;
}

.ismenlist header {
    display: block;
    padding: 0;
    height: 90px;
    background: url('../img/header.png') no-repeat 0;
    background-size: 300% 90px;
}

.ismenlist article {
    height: 610px;
    background: url('../img/article.png') no-repeat 0;
    background-size: 300% 610px;
}

.ismenlist footer {
    height: 200px;
    background: url('../img/footer.png') no-repeat 0;
    background-size: 300% 200px;
}

.sol1 {
    text-align: center;
}

.solnishko {
    padding: 68px 0 92px 4.5%;
    width: 74%;
    margin: 0 auto;
}

.solnkol {
    padding: 120px 0 0;
    float: left;
    margin-right: 3.8%;
    text-align: center;
}

.solnkrug {
    position: relative;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    border: 2px dashed black;
}

.solnkrug1 {
    background: url("../img/krug1.png") no-repeat 50%;
    background-size: 100%;
}

.solnkrug2 {
    background: url("../img/krug2.png") no-repeat 50%;
    background-size: 100%;
}

.solnkrug3 {
    background: url("../img/krug3.png") no-repeat 50%;
    background-size: 100%;
}

.solnkrug::after {
    display: block;
    content: "";
    height: 3px;
    width: 45px;
    border-radius: 50%;
    box-shadow: -3px 14px 3px black;
    position: absolute;
    left: 50%;
    bottom: -0px;
    margin-left: -18px;
}

.solnkol p {
    font-size: 29px;
    font-family: Brush Script Std;
    margin-top: 30px;
    color: #2e353e;
    line-height: 24px;
}

.solnkol p span {
    font-family: arial;
    font-size: 14px;
    color: #0088cc;
}

.solnkolbig {
    float: right;
    text-align: center;
}

.solnkrugbig {
    height: 345px;
    width: 345px;
    border-radius: 50%;
    border: 2px dashed black;
    position: relative;
    background: url("../img/krug4.png") no-repeat 50%;
    background-size: 100%;
}

.solnkolbig p {
    font-size: 29px;
    font-family: Brush Script Std;
    margin-top: 40px;
    color: #2e353e;
}

.solnkrugbig::after {
    display: block;
    content: "";
    height: 3px;
    width: 60px;
    border-radius: 50%;
    box-shadow: -13px 22px 3px black;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -18px;
}

.mobile {
    padding: 55px 0 0 5px;
    text-align: center;
    font-size: 26px;
    color: #1d2127;
    height: 268px;
    overflow: hidden;
}

.mobile b {
    font-weight: bold;
    color: #1d2127;
    font-size: 30px;
}

.mobile span {
    font-family: Brush Script Std;
    color: #0088cc;
    font-size: 26px;
}

.mobile p {
    font-size: 20px;
    color: #777777;
    line-height: 40px;
}

.mobilecolobch {
    display: inline-block;
    margin: 40px 0 0;
}

.mobilecol {
    position: relative;
    width: 320px;
    display: block;
    float: left;
    margin: 0px 5px;
    font-size: 19px;
    line-height: 46px;
}

.mobilecol p {
    font-size: 16px;
    line-height: 24px;
}

.mobileimg {
    width: 380px;
    height: 160px;
}

.mobileleft {
    text-align: right;
    padding: 20px 60px 0 0;
}

.mobileright {
    text-align: left;
    padding: 20px 0 0 60px;
}

.mobileleft::after {
    display: block;
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: 0 0 1px black;
    top: 35px;
    right: 10px;
    background: url("../img/kvadrat.png") no-repeat 50%;
    background-size: 100%;
}

.mobileright::after {
    display: block;
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: 0 0 1px black;
    top: 35px;
    left: 8px;
    background: url("../img/glas.png") no-repeat 50%;
    background-size: 100%;
}

.docu {
    padding: 70px 4% 67px 7.5%;    
}

.docu h1 {
    font-size: 28px;
    color: #393d42;
    margin: 8px 0 24px;
}

.docu h1 b {
    font-weight: bold;
    color: #575a5e;
}

.docu p {
    font-size: 14px;
    line-height: 24px;
    color: #8a8a8a;
}

.docu1 {
    padding: 50px 12% 55px 7.5%;    
}

.doculeft {
    height: 160px;
    width: 270px;
    float: left;
    margin-right: 2%;
    background: url("../img/gadjet.png") no-repeat;
    background-size: 100%;
}

.docuright {
    float: right;
    height: 260px;
    width: 210px;
    margin-top: -100px;
    background: url("../img/gadjet1.png") no-repeat;
    background-size: 100%;
}

.key {
    padding: 50px 0 60px 0;
    text-align: center;
}

.key h1 {
    font-size: 28px;
    color: #393d42;
    margin: 8px 0 14px;
}

.key h1 b {
    font-weight: bold;
    color: #575a5e;
}

.key p {
    font-size: 20px;
    line-height: 20px;
    color: #8a8a8a;
    margin-bottom: 35px;
}

.key1 {
    padding-left: 6.5%;
}

.keycol {
    display: block;
    float: left;
    margin: 0 1.4%;
}

.keygal {
    padding: 25px 0px 24px 53px;
    color: #393d42;
    font-size: 20px;
    line-height: 21px;
    text-align: left;
    position: relative;
    width: 210px;
}

.keygal span {
    font-size: 12px;
}

.keygal::before {
    display: block;
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: 25px;
    left: 5px;
    background: url("../img/galka.png") no-repeat 50%;
    background-size: 60%;
    box-shadow: 0 0 1px black;
}

.polosa {
    margin: 40px 0 30px;
    height: 2px;
    background: linear-gradient(to right, transparent 0%, #dddddd 50%, transparent 100%);

}

.key h2 {
    color: #0088cc;
    font-family: Brush Script Std;
    font-size: 30px;
}

.slaiderzapis {
    padding: 60px 0;
    text-align: center;
}

.star {
    background: url(../img/star.png) no-repeat;
    height: 30px;
    width: 135px;
    display: inline-block;
}

.slaiderzapis h1 {
    margin: 5px 0 48px;
    color: white;
    font-size: 29px;
    font-weight: bold;
}

.slaiderzapis p {
    color: white;
    line-height: 21px;
    font-style: italic;
}

.kavichki {
    display: inline-block;
    position: relative;
}

.kavichki::before {
    display: block;
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    left: -50px;
    background: url('../img/kavichki.png') no-repeat;
    background-size: 100%;
}

.kavichki::after {
    display: block;
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    right: -50px;
    bottom: 2px;
    background: url('../img/kavichki.png') no-repeat;
    background-size: 100%;
    transform: rotate(180deg);
}

h3 {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0 10px;
}

input[name="slai"] {
    display: none;
}

.slai {
    display: inline-block;
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 0.4% 0;
}

.slai:hover {
    cursor: pointer;
}

#slai1:checked ~ .labeli label[for="slai1"]{
    background-color: #0088cc;
}

#slai2:checked ~ .labeli label[for="slai2"]{
    background-color: #0088cc;
}

#slai3:checked ~ .labeli label[for="slai3"]{
    background-color: #0088cc;
}

.predposl {
    padding: 48px 0 106px;
}

.predposlleft {
    float: left;
    font-size: 27px;
    margin: 67px 0 0 7.8%;
    color: #54575b;
    line-height: 28px;
}

.predposlleft b {
    font-weight: bold;
    color: #1d2127;
}

.predposlleft p {
    margin-top: 12px;
    font-size: 16px;
    color: #777777;
    line-height: 25px;
}

.predposlright {
    float: right;
    margin: 92px 9.3% 0 0;
    text-align: center;
}

.predposlright button {
    font-weight: bold;    
    display: block;
    font-size: 17px;
    padding: 14px 25px;
    border: none;
    border-radius: 5px;
    color: white;
}

.predposlright button:hover {
    cursor: pointer;
}

.predposlright p {
    font-size: 12px;
    margin-top: 13px;
    color: #0088cc;
}

.fotcon {
    position: relative;
    padding: 75px 7.8% 47px;
}

.fotcon::before {
    display: block;
    content: '';
    position: absolute;
    height: 40px;
    width: 150px;
    top: -17px;
    left: 7%;
    background: url(../img/get.png) no-repeat;
    background-size: 100%;
}

.fotcol {
    float: left;
    margin-right: 2.7%;
}

.fotcol h1 {
    color: white;
    font-size: 21px;
}

.fotcol p {
    margin: 17px 0 7px;
    color: #4f4f4f;
    font-size: 13px;
    line-height: 24px;
    text-indent: 20px;
}

.firste {
    text-indent: 0px;
    margin-bottom: 0;
}

.e-mail {
    margin-top: 15px;
    display: inline-block;
    border-radius: 5px 0 0 5px;
    border: none;
    background-color: white;
    outline: none;
    padding: 8px 12px;
    font-size: 15px;
    width: 190px;
}

.go {
    display: inline-block;
    font-size: 15px;
    color: #5c5f6b;
    padding: 7px 11px;
    border: 1px solid transparent;
    border-left-color: #afafaf;
    margin-left: -4px;
    border-radius: 0 5px 5px 0;
}

.go:hover {
    cursor: pointer;
}

.fotcol time {
    display: block;
    font-size: 11px;
    color: white;
    margin: 11px 0 25px;
}

.fotcol .seconde {
    text-indent: 25px;
    color: #6d6d6d;
    font-size: 13px;
    margin-top:11px;
}

.fotcol .seconde:first-of-type {
    margin-top:18px;
}

.seconde b {
    font-weight: bold;
}

.fotcol .seconde span {
    color: white;
}

.fotcol1 {
    padding-left: 17px;
}

.knopkia {
    margin-top: 17px;
}

.knopkia:hover {
    cursor: pointer;
}

.knopkia {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.knopka1a {
    background: url("../img/sprite.png") no-repeat 7px 5px;
}

.knopka2a {
    background: url("../img/sprite.png") no-repeat -55px 5px;
}

.knopka3a {
    background: url("../img/sprite.png") no-repeat -105px 5px;
}

.background {
    padding: 30px 7.5%;
}

.background .logoa {
    display: block;
    float: left;
}

.background p {
    display: block;
    float: left;
    color: white;
    font-size: 13px;
    margin: 10px 0 0 2.7%;
}

.menuniz {
    float: right;
    margin: 5px 0.5%;
}

.knopniz {
    background: none;
    display: inline-block;
    border: 1px solid transparent;
    border-right-color: #505050;
    font-size: 12px;
    color: white;
    margin: -3px;
    padding: 0px 11px;
}

.knopniz:hover {
    cursor: pointer;
    text-decoration: underline;
}

.knopniz3 {
    border: none;
}