body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

#BG {
    background-image: url('../land.png');
    background-repeat: no-repeat;
    min-height: 8100px;
    color: #ff0000;
    background-position: center top;
}

.row {
    max-width: 1350px;
    margin: 0 auto;
}

.logo {
    display: block;
    width: 128px;
    margin: -12px 0% 0 7.1%;
    float: left;
}

.header {
    padding: 0.1px 0 9px;
}

.header>.info {
    text-align: right;
    margin: 20px 14% 0 0;
}

.edin {
    display: inline-block;
    height: 15px;
    text-decoration: none;
    position: relative;
    font-size: 11px;
    color: #8DBACC;
    margin: 0 12px;
}

.edin::before {
    content: '';
    display: block;
    width: 5px;
    height: 2px;
    position: absolute;
    transform: rotate(55deg);
    background: #8DBACC;
    top: 5px;
    left: -10px;
}

.edin::after {
    content: '';
    display: block;
    width: 5px;
    height: 2px;
    position: absolute;
    transform: rotate(-55deg);
    background: #8DBACC;
    top: 7px;
    left: -10px;
}

.edin:hover {
    color: #0088cc;
    cursor: pointer;
}

.edin:hover::before,
.edin:hover::after {
    background-color: #0088cc;
}

.tel {
    display: inline-block;
    color: #8DBACC;
    font-size: 11px;
    position: relative;
    margin: 0 14px;
}

.tel::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -15px;
    background: url('../img/tel.png') no-repeat;
    background-size: 100%;
}

.serch {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #8DBACC;
    background: none;
    padding: 5px;
    font-size: 12px;
    color: #8DBACC;
    width: 145px;
}

.serch:focus {
    outline: none;
    border-color: #0088cc;
}

.form {
    display: inline-block;
    position: relative;
    border-radius: 20px;
    width: 145px;
}

.form::after {
    display: block;
    content: '';
    position: absolute;
    background: url(../img/lupa.png) no-repeat 50% 50%;
    height: 25px;
    width: 25px;
    border: none;
    background-size: 70%;
    border-radius: 50%;
    top: 2px;
    right: 2px;
    transition: 1s;
}

.form:hover::after {
    background-size: 100%;
    cursor: pointer;
}

.knop3 {
    float: right;
    width: 85px;
    margin: 14px 14.2% 0 0;
}

header div a:hover {
    cursor: default;
}

.knopki:hover {
    cursor: pointer;
}

.knopki {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px;
}

.knopka1 {
    background: url("../img/sprite.png") no-repeat 7px 5px;
}

.knopka2 {
    background: url("../img/sprite.png") no-repeat -55px 5px;
}

.knopka3 {
    background: url("../img/sprite.png") no-repeat -105px 5px;
}

nav {
    vertical-align: middle;
    margin: 14px 0.65% 0 0;
    float: right;
    line-height: 35px;
    font-size: 10px;
    color: #0088cc;
}

nav:after {
    clear: both;
}

nav a {
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    height: 35px;
    margin-right: 1.5px;
    position: relative;
}

nav a::after {
    position: absolute;
    content: '';
    display: block;
    border: 5px solid #0088cc;
    right: 6px;
    top: 15px;
    width: 0;
    height: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

nav a:last-child {
    margin-right: 0;
}

nav a:hover {
    background-color: #0088cc;
    color: white;
}

nav a li {
    padding: 0 18px 0 13px;
}

nav a:hover::after {
    border-top-color: white;
}

.ekran {
    padding-top: 208px;
    margin-top: 0px;
    min-height: 390px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.start {
    font-size: 20px;
    color: #ff0000;
    text-transform: uppercase;
}

.new {
    font-size: 55px;
    font-weight: 800;
    margin-top: 15px;
    text-transform: uppercase;
}

.join {
    margin-top: 7px;
    font-size: 19px;
}

.but_na_ekr {
    margin-top: 33px;
    font-size: 24px;
    padding: 17px 26px;
    border: none;
    border-radius: 10px;
}

.but_na_ekr:hover {
    cursor: pointer;
}

.pod_ekr {
    min-height: 98px;
}

.levo_pod_ekr {
    float: left;
    margin: 14px 0 0 13.9%;
    color: white;
    font-size: 16px;
    line-height: 25px;
}

.levo_pod_ekr span {
    font-size: 15px;
}

.levo_pod_ekr::after {
    clear: both;
    display: table;
    content: '';
}

.pravo_pod_ekr {
    font-size: 12px;
    float: right;
    margin: 33px 14.1% 0 0;
    color: #ffffff;
}

.pravo_pod_ekr button {
    padding: 7px 12px;
    border: none;
    margin-right: 14px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    background-color: #0088cc;
}

.pravo_pod_ekr button:hover {
    cursor: pointer;
}

.pravo_pod_ekr span {
    color: #0088cc;
}

.white {
    text-align: center;
    padding: 205px 0 0 0;
    color: #8DBACC;
    min-height: 315px;
    vertical-align: top;
}

.porto {
    font-size: 24px;
}

.porto span {
    font-weight: bold;
}

.trusted {
    margin: 20px 0 0;
    font-size: 17.5px;
    line-height: 22px;
}

.foure {
    display: inline-block;
    height: 100px;
    width: 16%;
    margin: 56px 2.7%;
    padding: 40px 0 0;
    text-decoration: none;
}

.foure div {
    display: inline;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px;
}

.foure div span:first-of-type {
    font-size: 52px;
    font-weight: bold;
    line-height: 56px;
}

.foure div span:last-of-type {
    color: #0088cc;
    font-size: 12px;
    line-height: 30px;
}

.foure:first-of-type {
    background: url('../img/sprite1.png') no-repeat 28px -71px
}

.foure:nth-of-type(2) {
    background: url('../img/sprite1.png') no-repeat -105px -67px;
}

.foure:nth-of-type(3) {
    background: url('../img/sprite1.png') no-repeat -220px -70px;
}

.foure:last-of-type {
    background: url('../img/sprite1.png') no-repeat -315px -73px;
}

.foure:hover div span:last-of-type {
    color: red;
}

.podwhite {
    margin: 0 auto;
    width: 1000px;
    padding: 50px 0 0 0;
    height: 263px;
}

.podleft,
.podright {
    display: block;
    font-size: 12px;
    height: 220px;
    width: 270px;
    line-height: 22px;
}

.podwhite span {
    font-size: 16.5px;
}

.podleft {
    position: relative;
    text-align: right;
    padding-right: 50px;
    float: left;
}

.podleft::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    height: 30px;
    width: 30px;
    background: url('../img/sprite2.png') -120px 0;
    right: 10px;
}

.podleft::before {
    display: block;
    content: '';
    position: absolute;
    top: 110px;
    height: 30px;
    width: 30px;
    background: url('../img/sprite2.png') 0px 0px;
    right: 10px;
}

.rispodwhite {
    display: inline-block;
    height: 310px;
    width: 360px;
    margin-top: -110px;
}

.podright {
    position: relative;
    text-align: left;
    padding-left: 50px;
    float: right;
}

.podright::after {
    display: block;
    content: '';
    position: absolute;
    top: 110px;
    height: 30px;
    width: 30px;
    background: url('../img/sprite2.png') -415px 0px;
    left: 3px;
}

.podright::before {
    display: block;
    content: '';
    position: absolute;
    top: -2px;
    height: 30px;
    width: 30px;
    background: url('../img/sprite2.png') -253px 0px;
    left: 3px;
}

.podnis {
    margin-top: 20px;
    line-height: 24px;
}

.blue {
    height: 165px;
    background-color: #0088cc;
}

.blueleft {
    float: left;
    font-size: 24px;
    margin: 56px 0 0 14%;
    color: white;
}

.blueleft b {
    font-weight: bold;
}

.blueleft span {
    font-size: 14px;
}

.blue16 {
    float: right;
    margin: 80px 15.2% 0 20px;
    font-size: 12px;
    position: relative;
    color: white;
}

.blue button {
    margin: 67px 0 0;
    display: block;
    float: right;
    font-size: 16px;
    padding: 10px 13px;
    background-color: #006699;
    border: none;
    border-radius: 5px;
    color: white;
}

.blue16::before {
    content: '';
    position: absolute;
    display: block;
    height: 40px;
    width: 83px;
    top: -51px;
    left: -70px;
    background: url("../img/strelka.png") no-repeat 50%;
    background-size: 100%;
}

.put {
    height: 50px;
    background-color: #006699;
    text-align: center;
}

.usl label {
    display: inline-block;
    padding: 17px 24px 21px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    position: relative;
}

.usl label::after {
    display: none;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    border: 12px solid #006699;
    border-bottom: none;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    transform: translateX(-16px);
}

.usl label:hover {
    color: red;
    cursor: pointer;
}

.usl input {
    display: none;
}

.saiti {
    padding: 46px 43px 20px;
    text-align: center;
}

.saitiris {
    position: relative;
    display: none;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 48px 31px 0px;
    line-height: 16px;
    font-weight: bold;
    color: #1d2127;
}

.saitiris:nth-child(4n) {
    margin-right: 0;
}

.new::before {
    content: "";
    display: block;
    position: absolute;
    background: url('../img/new.png') no-repeat 50% 50%;
    background-size: 100%;
    height: 30px;
    width: 55px;
    top: -2px;
    right: 18px;
}

.saitiris span {
    text-transform: capitalize;
    font-size: 10px;
    line-height: 10px;
    color: #dcdcdc;
}

.saitiris img {
    height: 205px;
    width: 260px;
    margin: 0px 33px 0;
    outline: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

.clear {
    clear: both;
    height: 0;
}

#show:checked ~ .put label[for="show"]::after,
#classic:checked ~ .put label[for="classic"]::after,
#corporate:checked ~ .put label[for="corporate"]::after,
#extra:checked ~ .put label[for="extra"]::after,
#page:checked ~ .put label[for="page"]::after {
    display: block;
}

#show:checked ~ .saiti .saitiris,
#classic:checked ~ .saiti .classic,
#corporate:checked ~ .saiti .corporate,
#extra:checked ~ .saiti .extra,
#page:checked ~ .saiti .page {
    display: block;
}

.posred {
    display: block;
    height: 460px;
    padding-top: 50px;
}

.chernad {
    padding-top: 3px;
    height: 450px;
    width: 690px;
    margin: 10px auto 0;
    font-size: 36px;
    line-height: 24px;
    color: white;
    position: relative;
}

.chernad::before {
    display: block;
    content: '';
    position: absolute;
    background: url(../img/sboku2.png) no-repeat 50%;
    background-size: 100%;
    width: 190px;
    height: 190px;
    top: -25px;
    right: -100px;
    border-radius: 50%;
    border: 5px solid white;
}

.chernad::after {
    display: block;
    content: '';
    height: 60px;
    width: 40px;
    position: absolute;
    background: url("../img/strela1.png") no-repeat 50%;
    background-size: 85%;
    left: -45px;
    top: 40px;
}

.chernad span:first-of-type {
    font-weight: bold;
}

.chernad span:last-of-type {
    font-size: 16px;
    color: #949493;
}

.list {
    position: relative;
    height: 310px;
    border-radius: 10px 10px 0 0;
    background: red;
    margin-top: 25px;
    padding: 30px;
    text-align: center;
}

.list::before {
    display: block;
    content: '';
    position: absolute;
    background: url(../img/sboku1.png) no-repeat 50%;
    background-size: 100%;
    width: 205px;
    height: 205px;
    top: 25px;
    left: -108px;
    border-radius: 50%;
    border: 5px solid white;
}

.list p {
    text-align: left;
    font-size: 12px;
    line-height: 16px;
}

.listcol {
    display: inline-block;
    border-radius: 10px;
    padding: 25px 15px 0;
    width: 110px;
    height: 175px;
    margin: 48px 3px 0;
}

.list1 {
    border-top: 2px solid #0088cc;
}

.list2 {
    border-top: 2px solid #dd6353;
}

.list3 {
    border-top: 2px solid #2aaea6;
}

.list4 {
    border-top: 2px solid #383f48;
}

.spriteser {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    border-radius: 50%;
}

.list1 .spriteser {
    background: url('../img/sprite3.png') no-repeat 2px 15px;
}

.list2 .spriteser {
    background: url('../img/sprite3.png') no-repeat -140px 15px;
}

.list3 .spriteser {
    background: url('../img/sprite3.png') no-repeat -302px 15px;
}

.list4 .spriteser {
    background: url('../img/sprite3.png') no-repeat -440px 15px;
}

.listcol p {
    font-size: 8px;
    text-align: center;
    margin-top: 10px;
    line-height: 14px;
}

.list1 p span:first-of-type,
.list1 p a {
    color: #0088cc;
}

.list2 p span:first-of-type,
.list2 p a {
    color: #dd6353;
}

.list3 p span:first-of-type,
.list3 p a {
    color: #2aaea6;
}

.list4 p span:first-of-type,
.list4 p a {
    color: #383f48;
}

.listcol p span:first-of-type {
    text-transform: uppercase;
    font-size: 9px;
}

.listcol p a {
    font-size: 8px;
    line-height: 30px;
    text-decoration: none;
}

.listcol p a:hover {
    cursor: pointer;
}

.bel {
    text-align: center;
    padding: 40px 0 18px;
    font-size: 24px;
    color: #1d2127;
}

.bel span {
    font-weight: bold;
    color: black;
}

.bel p {
    font-size: 17.5px;
    margin-top: 20px;
    line-height: 24px;
    color: #aaaaaa;
}

.bel .belnad {
    font-family: Brush Script Std;
    margin: 40px;
    font-size: 26px;
    color: #0088cc;
}

.bel .belnad span {
    font-weight: bold;
    color: #0088cc;
}

.belnad {
    position: relative;
}

.belnad::after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    height: 20px;
    width: 210px;
    margin-left: -75px;
    background: url("../img/polosa.png") no-repeat 50%;
    background-size: 100%;
}

.ismen input {
    display: none;
}

.ismen {
    padding-top: 40px;
    height: 850px;
    overflow: hidden;
}

.obch {
    margin: 0 auto;
    width: 640px;
}

.ismencol {
    position: relative;
    text-align: left;
    display: block;
    float: left;
    width: 95px;
    padding: 15px 0px 15px 45px;
    margin-right: 26px;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 12px;
    color: #828282;
}

.ismencol span {
    font-size: 12px;
    font-weight: bold;
    color: #1d2127;
}

.ismencol4 {
    margin-right: 0;
}

.clear {
    clear: both;
}

.ismencol::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 1px black;
    position: absolute;
    top: 15px;
    left: 5px;
    background: url(../img/galka.png) no-repeat 50%;
    background-size: 70%;
}

.ismenlist {
    padding: 0;
    position: relative;
    display: block;
    margin: 20px auto 0;
    width: 622px;
    border: 10px solid #cdcdcd;
}

.ismenlist button {
    background-color: #0088cc;
    height: 26px;
    width: 26px;
    border-radius: 5px;
    border: none;
    position: absolute;
}

.ismenlist button:hover {
    cursor: pointer;
}

.ismenlist button::before {
    transform: rotate(-45deg);
    position: absolute;
    left: 8px;
    content: "";
    display: block;
    height: 3px;
    width: 8px;
    background-color: white;
}

.ismenlist button::after {
    transform: rotate(45deg);
    position: absolute;
    left: 8px;
    content: "";
    display: block;
    height: 3px;
    width: 8px;
    background-color: white;
}

.ismenbut1 {
    left: -42px;
}

.ismenbut2 {
    right: -43px;
}

.ismenbut1::before {
    top: 10px;
}

.ismenbut1::after {
    top: 13px;
}

.ismenbut2::before {
    top: 13px;
}

.ismenbut2::after {
    top: 10px;
}

#ismenbuth1 {
    top: 13px;
}

#ismenbuth2 {
    top: 13px;
}

#ismenbuta1 {
    top: 310px;
}

#ismenbuta2 {
    top: 310px;
}

#ismenbutf1 {
    top: 670px;
}

#ismenbutf2 {
    top: 670px;
}

.ismenlist header {
    display: block;
    padding: 0;
    height: 60px;
    background: url('../img/header.png') no-repeat 0;
}

.ismenlist article {
    height: 530px;
    background: url('../img/article.png') no-repeat 0;
}

.ismenlist footer {
    height: 180px;
    background: url('../img/footer.png') no-repeat 0;
}

.solnishko {
    padding: 57px 16.3% 70px 20.3%;
}

.solnkol {
    padding: 100px 0 0;
    height: 220px;
    float: left;
    margin-right: 3.2%;
    text-align: center;
}

.solnkrug {
    position: relative;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    border: 2px dashed black;
}

.solnkrug1 {
    background: url("../img/krug1.png") no-repeat 50%;
    background-size: 100%;
}

.solnkrug2 {
    background: url("../img/krug2.png") no-repeat 50%;
    background-size: 100%;
}

.solnkrug3 {
    background: url("../img/krug3.png") no-repeat 50%;
    background-size: 100%;
}

.solnkrug::after {
    display: block;
    content: "";
    height: 3px;
    width: 45px;
    border-radius: 50%;
    box-shadow: -3px 12px 3px black;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -18px;
}

.solnkol p {
    font-size: 26px;
    font-family: Brush Script Std;
    margin-top: 20px;
    color: #2e353e;
    line-height: 24px;
}

.solnkol p span {
    font-family: arial;
    font-size: 12px;
    color: #0088cc;
}

.solnkolbig {
    float: right;
    text-align: center;
}

.solnkrugbig {
    height: 296px;
    width: 296px;
    border-radius: 50%;
    border: 2px dashed black;
    position: relative;
    background: url("../img/krug4.png") no-repeat 50%;
    background-size: 100%;
}

.solnkolbig p {
    font-size: 26px;
    font-family: Brush Script Std;
    margin-top: 30px;
    color: #2e353e;
}

.solnkrugbig::after {
    display: block;
    content: "";
    height: 3px;
    width: 60px;
    border-radius: 50%;
    box-shadow: -13px 18px 3px black;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -18px;
}

.mobile {
    padding: 60px 0 0 5px;
    text-align: center;
    font-size: 23px;
    color: #1d2127;
    height: 225px;
}

.mobile b {
    font-weight: bold;
    color: #1d2127;
}

.mobile span {
    font-family: Brush Script Std;
    color: #0088cc;
}

.mobile p {
    font-size: 17.5px;
    color: #777777;
    line-height: 30px;
}

.mobilecolobch {
    display: inline-block;
    margin: 30px;
}

.mobilecol {
    position: relative;
    width: 300px;
    display: block;
    float: left;
    margin: 0px 5px;
    font-size: 16px;
    line-height: 36px;
}

.mobilecol p {
    font-size: 14px;
    line-height: 20px;
}

.mobileimg {
    width: 320px;
    height: 140px;
}

.mobileleft {
    text-align: right;
    padding: 25px 50px 0 0;
}

.mobileright {
    text-align: left;
    padding: 25px 0 0 50px;
}

.mobileleft::after {
    display: block;
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 0 1px black;
    top: 35px;
    right: 10px;
    background: url("../img/kvadrat.png") no-repeat 50%;
    background-size: 100%;
}

.mobileright::after {
    display: block;
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 0 1px black;
    top: 35px;
    left: 8px;
    background: url("../img/glas.png") no-repeat 50%;
    background-size: 100%;
}
